---

---

<div class='dc-chat'><slot /></div>

<style>
  .dc-chat {
    margin: 1.5em 0;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background: #313338;
    color: #dbdee1;
    font-family:
      'gg sans',
      'Noto Sans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 1rem;
    line-height: 1.375;
  }
</style>
